/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet"');

/* CSS Variables */

:root {
    --font: "Nunito", sans-serif;
    --primary-color: #8B5E3C; /* Warm brown*/
    --secondary-color: #F8F4EC; /* Soft cream*/
    --highlight-color: 	#6dc0d5; /* Sky blue*/
}

/* Global styles */

body {
    font-family: var(--font);
}

h1, h2, h3 {
    font-family: var(--font);
}

h1, h2 {
    text-transform: uppercase;
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Navbar*/
.navbar {
    background-color: #6dc0d5;
}


/* Header */
.hero-image {
    background: url(../images/d og-5671778_1280.jpg) center center / cover no-repeat;
    background-color: #F8F4EC;
}

main {
    background-color: #F8F4EC;
}

footer {
    background-color: #8B5E3C;
}

